:root{
    -- link-color: red ;
}

.nav-header a
.nav-header a:visited{
    color: var(-- link color);
}

.nav-header li {
    list-style-type: none;
}

.global-section{
    background-color: black;
    color:white
}
.title{
    font-weight: 700;
}